:root {
    /*dark colors*/
    --dark01: #111;
    --dark02: #222;
    --dark03: #333;
    --dark39: #393939;
    --dark04: #444;
    --dark05: #555;
    --dark06: #666;
    --dark-text: white;
    /*----------*/

    /*light colors*/
    --light00: #ffffff;
    --light20: #f0f0f0;
    --light21: #e6e6e6;
    --light01: #e2f4ff;
    --light02: #d2eeff;
    --light03: #78cbff;
    --light04: #66c4ff;
    --light05: #54bdff;
    --light06: #46b8ff;
    --light07: #35b1ff;
    --light08: #26acff;
    --light09: #14a5ff;
    --light10: #009dff;
    --light11: #0095ff;
    --light-text: black;

    /*-----------*/
}

.dark-theme {
    --body-bg-color: var(--dark03);
    --nav-bg-color: var(--dark02);
    --body-color: var(--dark-text);
    --links-color: var(--dark-text);
    --links-hover-bg-color: var(--dark01);
    --select-button-bg-color: var(--dark05);
    --select-button-color: var(--dark-text);
    --select-button-hover-bg-color: var(--dark06);
    --select-button-active-bg-color: var(--dark04);
    --select-button-disabled-bg-color: var(--dark03);
    --schedule-bg-color: var(--dark04);
    --day2-4-bg-color: var(--dark39);
    --dayheader-bg-color: var(--dark02);
    --class-event-card-bg-color: var(--dark05);
    --form-input-bg-color: var(--dark05);
    --form-input-color: var(--dark-text);
    --form-profile-container-bg-color: var(--dark04);
    --button-container-bg-color: var(--dark05);
    --button-container-hover-bg-color: var(--dark04);
    --button-container-active-bg-color: var(--dark03);
}

.light-theme {
    --body-bg-color: var(--light00);
    --nav-bg-color: var(--light10);
    --body-color: var(--light-text);
    --links-color: var(--light-text);
    --links-hover-bg-color: var(--light11);
    --select-button-color: var(--light-text);
    --select-button-bg-color: var(--light08);
    --select-button-hover-bg-color: var(--light00);
    --select-button-active-bg-color: var(--light03);
    --select-button-disabled-bg-color: var(--light04);
    --schedule-bg-color: var(--light00);
    --day2-4-bg-color: var(--light20);
    --dayheader-bg-color: var(--light08);
    --class-event-card-bg-color: var(--light00);
    --form-input-bg-color: var(--light00);
    --form-profile-container-bg-color: var(--light00);
    --button-container-bg-color: var(--light00);
    --button-container-hover-bg-color: var(--light20);
    --button-container-active-bg-color: var(--light21);
}

#root {
    align-items: center;
    justify-content: center;
}

body {
    margin: 0;
    font-family: Tinos;
    color: var(--body-color);
    background-color: var(--body-bg-color);
    font-size: 1rem;
}

/* nav bar style */


ul {
    margin: 0;
    padding: 0;
    overflow: hidden;
    list-style-type: none;
    background-color: var(--nav-bg-color);
}

li {
    float: left;
}

.links {
    display: block;
    padding: 14px 16px;
    text-align: center;
    text-decoration: none;
    color: var(--links-color);
    transition-duration: 0.5s;
}

.links:hover {
    transition-duration: 0.5s;
    background-color: var(--links-hover-bg-color);
}

.light-dark-switch {
    float: right;
    padding: 14px 16px;
    transition-duration: 0.5s;

}

.light-dark-switch:hover {
    cursor: pointer;
    transition-duration: 0.5s;
    background-color: var(--links-hover-bg-color);
}

.login-nav {
    float: right;
}

.logo-nav-img {
    padding: 0;
    max-width: 15%;
    max-height: 46px;
}

.logo-nav-img img {
    max-width: 46px;
}

.logo-nav-img a {
    padding: 0;
}

/*---------------------------------------------------------------*/

/*Homepage/introduction*/

.introduction {
    margin: auto;
    margin-top: 50px;
    max-width: 800px;
    text-align: center;
}

.introduction h1 {
    text-align: center;
}

/*-----------------------------------------------------------------*/

/*User/Presentator UI*/

select,
button {
    width: 9vw;
    border: none;
    height: 3vh;
    transition: 0.3s;
    overflow: hidden;
    border-radius: 5px;
    margin-bottom: 5px;
    margin-top: 5px;
    color: var(--select-button-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--select-button-bg-color);
}

select:hover,
button:hover {
    transition: 0.3s;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.3);
    background-color: var(--select-button-hover-bg-color);
}

select:focus {
    transition: 0.3s;
    background-color: var(--select-button-hover-bg-color);
}

/*Time table*/

#main,
#manage_main {
    margin: auto;
    display: grid;
    margin-top: 3vh;
    width: 100vw;
    grid-template-columns: 1fr 5fr 1fr;
}

#manage_main {
    width: 98vw;
}

.sidebar {
    display: flex;
    padding: 0.5rem;
    align-items: center;
    flex-direction: column;
}

#schedule {
    max-height: 83vh;
    overflow-y: auto;
    border-radius: 7px;
    min-width: fit-content;
    background-color: var(--schedule-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

#manage_schedule {
    max-height: 83vh;
    overflow-y: auto;
    border-radius: 7px;
    min-width: fit-content;
}

.calendar_div {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.fc,
.fc-media-screen {
    z-index: 5;
    background-color: var(--schedule-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    color: var(--body-color);
    border-radius: 10px;
    padding: 10px;
    max-height: 83vh;
}

.fc table,
th,
td,
tr {
    border-color: var(--dayheader-bg-color) !important;
}

.fc th {
    border-color: var(--dayheader-bg-color) !important;
}

.fc-toolbar {
    background-color: var(--dayheader-bg-color);
    color: var(--body-color);
    padding: 10px;
    border-radius: 7px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.fc-toolbar .fc-button {
    background-color: var(--select-button-bg-color);
    border: none;
    color: var(--light-text);
    height: 4.5vh;
    text-align: center;
    padding: 5px 10px;
    border-radius: 5px;
}

.fc-toolbar .fc-button:hover {
    background-color: var(--select-button-hover-bg-color) !important;
    color: var(--light-text);
}

.fc-toolbar .fc-button:disabled {
    background-color: var(--select-button-disabled-bg-color) !important;
    color: var(--dark-text);
}

.fc-toolbar .fc-button-active {
    background-color: var(--select-button-active-bg-color) !important;
    color: var(--light-text) !important;
}

.fc-toolbar .fc-button-active:hover {
    background-color: var(--select-button-hover-bg-color) !important;
    color: var(--light-text) !important;
}

.fc-col-header-cell {
    background-color: var(--dayheader-bg-color);
    font-weight: bold;
    padding: 8px;
}

.fc-daygrid-day-events {
    /* min-height: 5vmin !important; */
    position: relative;
    display: flex;
    margin: 1vh !important;
    flex-direction: column;
    align-items: center;
}

.fc-daygrid-day {
    background-color: var(--schedule-bg-color);
    border: 1px solid var(--dayheader-bg-color);
}

.fc-daygrid-day:hover {
    background-color: var(--day2-4-bg-color);
}

.fc-day-today {
    background-color: var(--day2-4-bg-color) !important;
}

.fc-day {
    width: min-content !important;
    /* height: min-content !important; */
}

.fc-event-main {
    /* display: flex !important;
    flex-direction: column !important; */
    align-items: center !important;
    justify-content: center !important;
    /* height: min-content; */
}

.fc-h-event {
    /* background-color: pink; */
    background-color: transparent;
    border: none;
}

.fc-v-event,
.fc-timegrid-event-harness-inset .fc-timegrid-event {
    background-color: magenta;
    background-color: transparent;
    border: none;
    box-shadow: none;
    /* width: fit-content; */
}

.fc-timegrid-event-harness .fc-timegrid-event-harness-inset {
    z-index: 1 !important;
}

.fc .fc-timegrid-slot {
    border-bottom: 0px;
    height: 2em;
}

.fc-more-popover {
    color: var(--body-color);
    border: none !important;
    border: 1px solid var(--dayheader-bg-color) !important;
}

.fc .fc-more-popover .fc-popover-body {
    min-width: 220px;
    padding: 10px;
    max-height: 40vh;
    overflow-y: scroll;
    background-color: var(--schedule-bg-color);
    border: none !important;
    transition: none !important;
}

.fc-popover-header {
    background-color: var(--dayheader-bg-color) !important;
}

::-webkit-scrollbar {
    width: 10px;
    border-radius: 5px;
    background-color: var(--schedule-bg-color);
}

::-webkit-scrollbar-thumb {
    transition: 0.3s;
    border-radius: 5px;
    background-color: var(--dayheader-bg-color);
}

::-webkit-scrollbar-thumb:hover {
    transition: 0.3s;
    background-color: var(--links-hover-bg-color);
}

.days {
    gap: 5px;
    display: grid;
    justify-content: center;
    grid-template-rows: min-content auto;
}

.day-2,
.day-4 {
    background-color: var(--day2-4-bg-color);
}

.day-header {
    padding: 5px;
    font-weight: bold;
    text-align: center;
    background-color: var(--dayheader-bg-color);
}

.day-header-mon {
    border-radius: 7px 0px 0px 0px;
}

.day-header-fri {
    border-radius: 0px 7px 0px 0px;
}

.card-container {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-self: self-start;
}

.choose {
    text-align: center;
}

/*------------------------------------*/

/*-------------------------------------------------------*/

/*Cards*/

.class-card {
    min-width: 5vw;
    width: 10vw;
    width: inherit;
    /* min-height: fit-content; */
    height: inherit;
    overflow: hidden;
    max-width: 12.5vw;
    position: relative;
    margin-left: 0.9vw;
    border-radius: 5px;
    padding-left: 1.75vh;
    padding-bottom: 0.8vh;
    text-overflow: ellipsis;
    color: var(--body-color);
    transition: all 0.3s ease-in-out;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--class-event-card-bg-color);
}

.extra-content {
    overflow: hidden;
}

.teacher-change {
    width: 10vw;
    margin: 0.8vh 0vh 0.8vh 0vh;
}

.class-card.expanded {
    min-height: fit-content;
}

.class-card:hover {
    transition: 0.3s;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.3);
}

.class-card h3 {
    overflow: hidden;
    margin-top: 1.3vh;
    margin-bottom: 0rem;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.rooms {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.class-container p {
    margin: 0.3vh 0vh 0.3vh 0vh;
}

.class-container {
    padding-top: 0.35vh;
    text-overflow: ellipsis;
}

.class-card input {
    margin: 0;
}

.event-card {
    /* margin: 5px; */
    width: 10vw;
    min-width: 5vw;
    transition: 0.3s;
    max-height: 10vh;
    overflow: hidden;
    border-radius: 5px;
    padding-left: 1.75vh;
    color: var(--body-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--class-event-card-bg-color);
}

.event-card:hover {
    transition: 0.3s;
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.3);
}

.event-card h3 {
    overflow: hidden;
    margin-top: 1.3vh;
    white-space: nowrap;
    margin-bottom: 0rem;
    text-overflow: ellipsis;
}

.events-container {
    display: flex;
    border-radius: 7px;
    align-items: center;
    flex-direction: column;
    background-color: var(--dayheader-bg-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
}

.events-container h4 {
    margin: 0.5vh 0vh 0.5vh 0vh;
}

.events-card-container {
    max-height: 77.25vh;
    overflow-y: auto;
    padding: 0.35vh 0vh 0.8vh 0vh;
}

.event-container {
    padding: 0.35vh 0vh 0.8vh 0vh;
}

.event-container p {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
    margin: 0.3vh 0vh 0.3vh 0vh;
}


/*--------------------------------------------------------------*/

/*login-register-profile-action*/

.form-button {
    cursor: pointer;
    text-decoration: underline;
}

.form-container,
.profile-container {
    width: 25vw;
    margin: auto;
    margin-top: 4vh;
    overflow: hidden;
    border-radius: 10px;
    padding: 1.25vh 1.25vw 1.25vh 1.25vw;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--form-profile-container-bg-color);
}

.profile-container {
    min-width: 25vw;
    width: fit-content;
}

.form-container h2,
.profile-container h2 {
    margin-top: 1.3vh;
    text-align: center;
}

.form-div input:not([type="checkbox"]),
.popover input {
    height: 3vh;
    border: none;
    width: 24.5vw;
    margin-top: 0.7vh;
    border-radius: 5px;
    margin-bottom: 0.7vh;
    color: var(--form-input-color);
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.3);
    background-color: var(--form-input-bg-color);

}

.form-div input[type="checkbox"] {
    margin: 0;
    height: 1rem;
    width: 1rem;
}

.button-container {
    display: flex;
    justify-content: center;
}

.button-container button {
    min-width: 10vw;
    width: fit-content;
    margin-top: 1vh;
    margin-bottom: 0;
    transition: 0.5s;
    background-color: var(--button-container-bg-color);
}

.button-container button:hover {
    transition: 0.5s;
    background-color: var(--button-container-hover-bg-color);
}

.button-container button:active {
    background-color: var(--button-container-active-bg-color);
}

#errors {
    color: red;
    text-align: center;
}

/*------------------------------------*/
/*popover*/

.popover {
    position: absolute;
    box-sizing: border-box;
    z-index: 9999;
    width: fit-content;
    max-width: 20vw;
    height: fit-content;
    background-color: var(--schedule-bg-color);
    box-shadow: 2px 8px 16px 2px rgba(0, 0, 0, 0.3);
    border-radius: 7px;
    padding: 10px;
    /* top: 40%;
    left: 40%; */
}

.popover h3 {
    margin: 1vh 0vh 2vh 0vh;
}

.popover_body p {
    margin: 0.3vh 0vh 1vh 0vh;
}

.popover_content {
    margin-left: 0.8vw;
}

.popover input {
    width: 15vw;
}

.popover_body {
    margin-left: 1vw;
}

.close {
    float: right;
    width: fit-content;
    background-color: transparent;
    box-shadow: none;
}

.popover_body .close {
    float: none;
}